span {
    display: inline-block;
}

.rows {
    position: relative;
    margin: auto;
    width: 910px;
}

.bubbles {
    position: absolute;
    font-family: Sans-serif;
    text-transform: uppercase;
}

#bubble1 {
    top: 12px;
    left: 21px;
    font-size: 14px;
}

#bubble2 {
    top: 15px;
    left: 159px;
    width: 287px;
    font-size: 13px;
}

#bubble3 {
    top: 88px;
    left: 260px;
    width: 221px;
    font-size: 15px;
    line-height: 1;
}

#bubble4 {
    top: 15px;
    right: 250px;
    width: 177px;
    font-size: 15px;
}

#bubble5 {
    top: 15px;
    right: 42px;
    width: 177px;
    font-size: 13px;
}

#bubble6 {
    top: 135px;
    right: 22px;
    width: 167px;
    font-size: 14px;
}

#bubble7 {
    top: 274px;
    right: -15px;
    width: 99px;
    font-size: 14px;
}

#bubble8 {
    top: 479px;
    left: 20px;
    width: 177px;
    font-size: 14px;
}

#bubble9 {
    top: 480px;
    left: 260px;
    width: 177px;
    font-size: 15px;
}

#bubble10 {
    top: 712px;
    left: 232px;
    width: 262px;
    font-size: 14px;
}

#bubble11 {
    top: 484px;
    right: 20px;
    width: 195px;
    font-size: 14px;
}

#bubble12 {
    top: 782px;
    left: 14px;
    width: 192px;
    font-size: 13px;
}

#bubble13 {
    bottom: 28px;
    left: 10px;
    width: 181px;
    font-size: 14px;
}

#bubble14 {
    bottom: 28px;
    left: 218px;
    width: 117px;
    font-size: 14px;
}

#bubble15 {
    bottom: 521px;
    left: 374px;
    width: 211px;
    font-size: 14px;
}

#bubble16 {
    bottom: 518px;
    right: -5px;
    width: 180px;
    font-size: 14px;
}

#bubble17 {
    bottom: 132px;
    right: 384px;
    width: 137px;
    font-size: 14px;
}

#bubble18 {
    bottom: 60px;
    right: 388px;
    width: 134px;
    font-size: 14px;
}

#bubble19 {
    bottom: 35px;
    right: 67px;
    width: 134px;
    font-size: 16px;
}

.bump10 {
    margin-left: 10px;
}

.extreme-emphasis {
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

.narration {
    font-style: italic;
}

.character-name {
    font-style: italic;
    font-weight: bold;
}



